<ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
      <div class="sidebar-brand-icon">
        <img src="template/img/logo/logo2.png">
      </div>
      <div class="sidebar-brand-text mx-3">RuangAdmin</div>
    </a>
    <hr class="sidebar-divider my-0">
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
      Menü
    </div>
    <li class="nav-item active">
      <a class="nav-link" href="/">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
    </li>
    <% if(!users){ %>
        <li class="nav-item">
            <a class="nav-link" href="/login">
                <i class="fas fa-sign-in-alt"></i>
              <span>Giriş Yap</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">
                <i class="fas fa-user-plus"></i>
              <span>Kayıt Ol</span></a>
          </li> 
    <% }else{ %>
      <li class="nav-item active">
        <a class="nav-link" href="/">
          <i class="fas fa-play"></i>
          <span>Oyun Oluştur</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/message">
          <i class="fas fa-envelope"></i>
          <span>Mesajlar</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/">
          <i class="fas fa-user-cog"></i>
          <span>Ayarlar</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/">
          <i class="fas fa-sign-out-alt"></i>
          <span>Çıkış Yap</span></a>
      </li>
    <% } %>
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
      Bilgiler
    </div>
    <li class="nav-item active">
      <a class="nav-link" href="/">
        <i class="fas fa-archive"></i>
        <span>Gizlilik Politikası</span></a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="/">
        <i class="fas fa-archive"></i>
        <span>Kullanım Koşulları</span></a>
    </li>
   
    <hr class="sidebar-divider">
    <div class="version" id="version-ruangadmin"></div>
  </ul>